@charset "UTF-8";


body
{	
	background-color:#222;
	color:#EEE;
	font-family:Arial;
	font-size:16px;
	text-align:center;
	
}

header{
	background:url("fondo.png");
	margin: 0;
	padding:0.5em 0;
	width:100%;
}

header h1{
	margin: 0;
	padding:0.5em 0 0 0;
	text-shadow:rgba(255,255,255,0.5) 5px 5px 10px;

}

header h2{
	margin: 0;
	font-weight:normal;
	
	
	
}